body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
}

html{
  margin: 50px;
}

h1{
  font-size: 40px;
}

img{
  width:600px;
}

a{
  text-decoration: none;
  color: black;
}

.link_img{
  object-fit: cover;
width:600px;
height:100px;
}
.blog{
  margin-bottom: 40px;
}